* Login Component */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container h2 {
    color: #343a40;
}

.login-container input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #218838;
}
